.main
  .column-a
    %p Column A

    %ul#sortable
      %li.ui-state-default
      %img{:alt => "Placeholder Image", :src => "https://unsplash.it/300/200?image=1053"}/
      %li.ui-state-default
      %img{:alt => "Placeholder Image", :src => "https://unsplash.it/300/200?image=1055"}/
      %li.ui-state-default
      %img{:alt => "Placeholder Image", :src => "https://unsplash.it/300/200?image=1056"}/
  / end of column A
  /stage div goes here
  #stage
    #droppable.ui-widget-header
  / end of stage
  .column-b
    %p Column B
    %ul
      %li
      %img.draggable{:alt => "Placeholder Image", :src => "https://unsplash.it/300/200?image=1061"}/
      %li
      %img.draggable{:alt => "Placeholder Image", :src => "https://unsplash.it/300/200?image=1018"}/
      %li
      %img.draggable{:alt => "Placeholder Image", :src => "https://unsplash.it/300/200?image=1037"}/
  / end of column b
/ end of main
