.main
  .column-a
    %ul#sortable
      %li.ui-state-default Item 1
      %li.ui-state-default Item 2
      %li.ui-state-default Item 3
      %li.ui-state-default Item 4
      %li.ui-state-default Item 5
  / end of column A
  #droppable.ui-widget-header
  / end of stage
  .column-b
    %ul
      %li.draggable Item 1
      %li.draggable Item 2
      %li.draggable Item 3
      %li.draggable Item 4
      %li.draggable Item 5
      %li.draggable Item 6
      %li.draggable Item 7
  / end of column b
/ end of main
